node_modules/
.env


# # Logs
# logs/
# *.log
# npm-debug.log*

# # Directorios de build
# dist/
# build/

# # Archivos de sistema de tu SO
# .DS_Store   # macOS
# Thumbs.db   # Windows

# # Cobertura de tests
# coverage/

# # Editor o IDE
# .vscode/
# .idea/